'.text.mapfile':
  'editor':
    'commentStart': '# '
    'decreaseIndentPattern': '^\\s+*END'
    'increaseIndentPattern': '(CLASS|LAYER|LEGEND|MAP|METADATA|OUTPUTFORMAT|PROJECTION|SCALEBAR|STYLE|WEB|LABEL|WEB|COMPOSITE)\\b'
